absl-py==2.2.2
asgiref==3.8.1
concurrent-log-handler==0.9.26
Django==5.2.1
dotenv==0.9.9
immutabledict==4.2.1
numpy==2.2.6
ortools==9.12.4544
pandas==2.2.3
portalocker==3.1.1
protobuf==6.31.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
pywin32==310
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
